extends layout

block content
  h1= title
  p Bienvenido a #{title}


      // Wrapper
      #wrapper

          // USER LIST
          h2 Lista de usuarios
          #userList
              table
                  thead
                      th UserName
                      th Email
                      th Delete?
                  tbody
          // /USER LIST

      // /WRAPPER
